#dataviz {
    width: 100%;
    background-color: lightgreen;
    display: inline-block;
}

#timeseries {
    width: 80%;
    background-color: lightgray;
    margin: 40px auto;
    border: 1px solid red;
    min-height: 40px;
}