#dataviz {
    width: 100%;
    background-color: lightgreen;
    display: inline-block;
}

#timeseries {
    width: 80%;
    background-color: lightgray;
    margin: 40px auto;
    border: 1px solid red;
    min-height: 40px;
}

/******************************************
* Metric Modal Chart (Views, Downloads, Citations)
********************************************/

/* When there is no data ...*/

#metric-modal .metric-chart text {
    fill: #565656;
    font-size: 9px;
    font-family: Helvetica, Arial, "sans serif";
}

#metric-modal .metric-chart text.no-data {
    font-size: 16px;
    font-weight: 100;
    fill: #d0d0d0;
}

#metric-modal .metric-chart rect.no-data {
    fill: #f5f5f5;
}

/* When there is data ...*/

/* CB: padding to display better on bl.ocks.org */
#metric-modal {
    padding: 64px;
}

#metric-modal .metric-chart rect.plot-background {
    fill: white;
}

/* complete data line */
#metric-modal .metric-chart path.line {
    fill: none;
    stroke: #00AA8D;
    /* default, changed in each theme */
    stroke-width: 1.5px;
    clip-path: url(#clip);
}

/* complete data area */
#metric-modal .metric-chart path.area {
    fill: #00AA8D;
    /* CB default, changed in each theme */
    opacity: 0.6;
    clip-path: url(#clip);
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
}

/*missing data line */
#metric-modal .metric-chart path.line_missing {
    fill: none;
    stroke: #00AA8D;
    /* default, changed in each theme */
    stroke-width: 1.5px;
    stroke-dasharray: 1.5px 2px;
    clip-path: url(#clip);
}

/*missing data area */
#metric-modal .metric-chart path.area_missing {
    fill: #00AA8D;
    /* CB default, changed in each theme */
    opacity: 0.15;
    clip-path: url(#clip);
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
}

#metric-modal .metric-chart path.area_missing:active,
#metric-modal .metric-chart path.area:active {
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grabbing;
}

#metric-modal .metric-chart .axis {
    shape-rendering: crispEdges;
}

#metric-modal .metric-chart .x.axis .domain {
    display: none;
}

#metric-modal .metric-chart .x.axis line {
    stroke: white;
    opacity: 0.4;
}

#metric-modal .metric-chart .context .x.axis line {
    display: none;
}

#metric-modal .metric-chart .y.axis .domain {
    display: none;
}

#metric-modal .metric-chart .y.axis.title {
    font-size: 13px;
    font-weight: 100;
}

#metric-modal .metric-chart .y.axis line {
    stroke: #565656;
    stroke-dasharray: 2, 2;
    stroke-opacity: 0.3;
}

#metric-modal .metric-chart .brush .extent {
    fill-opacity: .07;
    shape-rendering: crispEdges;
    clip-path: url(#clip);
}

#metric-modal .metric-chart rect.pane {
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    fill: white;
    pointer-events: all;
}

#metric-modal .metric-chart rect.pane:active {
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grabbing;
}

/* brush handles  */
#metric-modal .metric-chart .resize .handle {
    fill: #555;
}

#metric-modal .metric-chart .resize .handle-mini {
    fill: white;
    stroke-width: 1px;
    stroke: #555;
}

#metric-modal .metric-chart .scale_button {
    cursor: pointer;
}

#metric-modal .metric-chart .scale_button rect {
    fill: #eaeaea;
}

#metric-modal .metric-chart .scale_button:hover text {
    fill: #417DD6;
    transition: all 0.1s cubic-bezier(.25, .8, .25, 1);
}

#metric-modal .metric-chart text#displayDates {
    font-weight: bold;
}

/* circle style */
#metric-modal .metric-chart .dot {
    fill: white;
    stroke: #00AA8D;
    /* default, changed in each theme */
    stroke-width: 1px;
    clip-path: url(#clip);
    cursor: default;
    transition: stroke-width 0.06s ease-in;
    transition: stroke 0.06s ease-in;
}

#metric-modal .metric-chart .dot:hover {
    stroke: #00997e;
    stroke-width: 6px;
    transition: stroke-width 0.06s ease-out;
    transition: stroke 0.06s ease-out;
}

div.tooltip {
    position: fixed;
    text-align: center;
    width: 60px;
    height: 25px;
    padding: 2px;
    font: 10px sans-serif;
    background: white;
    color: #565656;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}