html,
body,
p,
li,
h1,
h2,
h3,
h4 {
    font-family: sans-serif;
    color: #999;
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
}

#logo {
    width: 100%;
    max-width: 600px;
}

main {
    width: auto;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0 auto;
}

#controls {
    height: auto;
    width: 100%;
}

#filterForm {
    height: auto;
    width: 100%;
    display: inline-block;
}

#filterForm p,
h4,
ul,
li {
    color: #8BC862;
}

#filterForm h4 {
    padding: 2px 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

#filterForm section {
    height: 100%;
    display: inline-block;
    float: left;
    background-color: #EBF7D0;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}

#filterForm ul {
    padding: 0;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

#filterForm input[type=submit] {
    height: 100%;
    background-color: #8BC862;
    color: #FFF;
    font-size: 1.2em;
    width: auto;
    padding: 20px;
    float: left;
}

footer {
    border-top: 10px solid #0681A2;
    width: 100%;
}

footer section {
    width: auto;
    margin: 0 auto;
}

footer p {
    display: inline-block;
    float: left;
    padding: 5px;
}

footer img {
    height: 30px;
    width: auto;
    max-width: 100%;
    float: left;
    display: inline-block;
    padding: 10px 20px;
}

@media screen and (max-width: 600px) {
    footer img {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}