# Don't track content of these folders
node_modules/
debug/prod-*.txt
.*
ai/
notes/
static/
package-lock.json
archive/
notes/
*.sh
dev/api/*log.csv
prod/api/*log.csv
*.log
*.ipynb
debug/
__pycache__/*
*.pyc
