# Don't track content of these folders
node_modules/
debug/prod-*.txt
prod/api/logs/
dev/api/logs/
.*
ai/
notes/
static/
package-lock.json
archive/
notes/
notebooks/
*.sh
dev/api/*log.csv
prod/api/*log.csv
