dash==0.36.0
dash-core-components==0.43.0
dash-html-components==0.13.5
dash-renderer==0.17.0
DateTime==4.3
Flask==1.0.2
Flask-Compress==1.4.0
gandi.cli==1.4
numpy==1.16.0
pandas==0.24.0
pandas-datareader==0.7.0
plotly==3.5.0
python-dateutil==2.7.5
requests==2.21.0