#dataviz {
    width: 100%;
    display: inline-block;
}

#mainplot {
    max-width: 85%;
    height: auto;
}

#mainplot,
.subplots{
    width: 90%;
    margin: 20px auto;
    min-height: 40px;
}

.subplots {

}

.axislabel {
    font-size: 10px;
    fill: darkgrey;
}

.hoverline {
    stroke-width: 3px;
}

.unfocus {
    opacity: 0.3;
}

/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke-width: 1px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}

.main circle {
    fill: none;
    stroke: steelblue;
}