#dataviz {
    width: 100%;
    display: inline-block;
}

#mainplot,
.subplot {
    width: 90%;
    margin: 20px auto;
}

#mainplot {
    height: 400px;
}

.subplot {
    height: 300px;
}
.axislabel, .axislabel-large {
    fill: #666;
}
.axislabel-large {
    font-size: 15px;
}
.axislabel {
    font-size: 10px;
}

.hoverline {
    stroke-width: 3px;
}

.unfocus {
    opacity: 0.3;
}

/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke-width: 1px;
}

.zoom {
    cursor: move;
}

.overlay {
    fill: none;
    pointer-events: all;
}

div.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 7px;
    font: 12px sans-serif;
    color: #333;
    background: #FFF;
    border: 1px solid #999;
    border-radius: 8px;
    pointer-events: none;
}

.tooltip .ngram  {
    font-weight: bold;
}
