html,
body,
p,
li,
h1,
h2,
h3,
h4 {
    font-family: "Helvetica", sans-serif;
    color: #999;
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 90%;
    padding: 20px 5% 10px 5%;
    border-bottom: 1px solid #999;
    display: block;
}

#logo {
    width: 350px;
    max-width:100%;
    display: inline-block;
    vertical-align: middle;
    transition: width 0.5s;
}

#logo img {
    width: 100%;
    height: auto;
}

#logo p {
    font-family: "Pangolin", "Helvetica", sans-serif;
    color: #999;
    font-size: 0.8em;
    text-decoration: None;
    margin: 0;
}

#navigation {
    display: inline-block;
    vertical-align: middle;
    max-width:100%;
    transition: width 0.5s;
    float: right;
}

#menu {
    display: inline-block;
    float: left;
}

#menu li {
    padding: 5px 10px;
    display: inline-block;
    float: left;
}

#menu a {
    font-family: "Pangolin", "Helvetica", sans-serif;
    color: #666;
    font-size: 1.2em;
    text-decoration: None;
}

#menu a:hover {
    font-weight: bold;
    font-size: 1.3em;
}

.social {
    display: inline-block;
    float: left;
}

.social li {
    padding: 2px 10px;
    display: inline-block;
    float: left;
}

.social img {
    width: 30px;
    height: 30px;
}

.social img:hover {
    width: 35px;
    height: 35px;
}

main {
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0 auto;
    padding: 30px 0;
}

footer {
    border-top: 2px solid lightgrey;
    width: 90%;
    padding: 10px 5% 20px 5%;
    display: block;
}

footer section {
    width: auto;
    margin: 0 auto;
}

footer p {
    display: inline-block;
    padding: 5px;
}

footer img {
    height: 30px;
    width: auto;
    max-width: 100%;
    display: inline-block;
    padding: 10px 20px;
    transition: width 0.5s;
}



@media screen and (max-width: 1000px) {
    #logo {
        margin: 0 auto;
        width: 90%;
        display: block;
    }
    #logo p {
        margin: 0 auto;
        width: 90%;
        display: block;
        text-align: center;
    }

    #navigation {
        margin: 0 auto;
        width: 90%;
        float: none;
    }

    #menu {
        display: block;
        float: left;
    }
    #navigation .social {
        display: block;
        float: right;
    }
}

@media screen and (max-width: 600px) {

    #menu {
        float: none;
        margin: 0 auto;
    }
    #navigation .social {
        float: none;
        margin: 0 auto;
    }

    footer p, footer img {
        margin: 0 auto;
        width: 60%;
        height: auto;
        display: block;
    }
}