html,
body,
p,
li,
h1,
h2,
h3,
h4 {
    font-family: "Helvetica", sans-serif;
    color: #999;
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    padding: 30px 10%;
    border-bottom: 1px solid #999;
    display: block;
}

#logo {
    width: 350px;
    max-width:100%;
    display: inline-block;
    vertical-align: center;
    transition: width 0.5s;
}

#logo img {
    width: 100%;
    height: auto;
}

#navigation {
    display: inline-block;
    vertical-align: center;
    max-width:100%;
    transition: width 0.5s;
}

#menu li {
    font-family: "Helvetica", sans-serif;
    padding: 7px 10px;
    display: inline-block;
    color: #333;
    font-size: 1.2em;
    text-decoration: None;
}

#menu li:hover {
    font-weight: bold;
    font-size: 1.3em;
}

main {
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0 auto;
}

footer {
    border-top: 2px solid lightgrey;
    width: 80%;
    padding: 20px 10%;
}

footer section {
    width: auto;
    margin: 0 auto;
}

footer p {
    display: inline-block;
    float: left;
    padding: 5px;
}

footer img {
    height: 30px;
    width: auto;
    max-width: 100%;
    float: left;
    display: inline-block;
    padding: 10px 20px;
    transition: width 0.5s;
}

@media screen and (max-width: 600px) {

    #logo {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        float: none;
    }

    #navigation {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        float: none;
    }


    footer img {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}