html,
body,
p,
li,
h1,
h2,
h3,
h4 {
    font-family: "Helvetica", sans-serif;
    color: #666;
}

.loadoverlay {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.loader {
    border: 30px solid #00B6CF;
    border-top: 30px solid #8BC862;
    border-left: 30px solid #F3B544;
    border-bottom: 30px solid #9577B5;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
    z-index: 1000;
    position: relative;
    margin: 20vh auto;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 90%;
    padding: 20px 5% 30px 5%;
    border-bottom: 2px solid #ccc;
    display: block;
    box-shadow: 5px 10px 18px #999;
}

#logo {
    width: 350px;
    max-width:100%;
    display: inline-block;
    vertical-align: middle;
    transition: width 0.5s;
}

#logo img {
    width: 100%;
    height: auto;
}

#logo p {
    font-family: "Helvetica", sans-serif;
    color: #999;
    font-size: 0.8em;
    text-decoration: None;
    margin: 0;
}

#navigation {
    display: inline-block;
    vertical-align: middle;
    max-width:100%;
    transition: width 0.5s;
    float: right;
}

#menu {
    display: inline-block;
    float: left;
}

#menu li {
    padding: 5px 10px;
    display: inline-block;
    float: left;
}

#menu a {
    font-family: "Helvetica", sans-serif;
    color: #666;
    font-size: 1.2em;
    text-decoration: None;
}

#menu a:hover {
    text-decoration: underline;
}

.social {
    display: inline-block;
    float: left;
}

.social li {
    padding: 2px 10px;
    display: inline-block;
    float: left;
}

.social img {
    width: 30px;
    height: 30px;
}

main {
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0 auto;
    padding: 30px 0;
}

.textblock {
    width: 90%;
    margin: 0 auto;
    padding: 0 5% 80px 5%;
}

.teaser {
    padding-top: 10px;
    padding-bottom: 10px;
}

.textblock p {
    line-height: 160%;
    font-size: 1.4em;
}

.textblock h1,h2,h3 {
    font-family: "Helvetica", sans-serif;
    margin-top: 80px;
}

.textblock h1 {
    font-size: 2.4em;
}
.textblock h2 {
    font-size: 2.0em;
}
.textblock h4 {
    font-weight: bold;
}
.textblock a {
    color: #0681A2;
    text-decoration: none;
}
.textblock a:hover {
    text-decoration: underline;
}
.textblock img {
    width: auto;
    height: auto;
    max-width: 600px;
    display: inline;
    float: left;
    padding: 0 20px 20px 0;
}

#related-work li {
    list-style: circle;
    margin-left: 20px;
}

#related-work h1, #related-work h2, #related-work h3{
    font-size: 1.2em;
    font-weight: normal;
    color: #666;
    font-family: "Helvetica", sans-serif;
    padding-bottom: 0;
    margin-top: 5px;
    margin-bottom: 0;
}

#related-work h1 {
    padding-top: 20px;
    font-weight: bold;
}

#related-work h2 {
    font-style: italic;
}

footer {
    border-top: 2px solid #ccc;
    box-shadow: 5px -10px 18px #999;
    width: 90%;
    padding: 10px 5% 20px 5%;
    display: block;
}

footer section {
    width: auto;
    margin: 0 auto;
}

footer p {
    display: inline-block;
    padding: 5px;
}

footer img {
    height: 30px;
    width: auto;
    max-width: 100%;
    display: inline-block;
    padding: 0 5px;
    transition: width 0.5s;
}



@media (max-width: 1000px) {

    #logo {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        display: block;
    }
    #logo p {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        display: block;
        text-align: center;
    }

    #navigation {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        float: none;
    }

    ul#menu {
        display: block;
        float: left;
    }
    #navigation .social {
        display: block;
        float: right;
    }

    .textblock img {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

@media (max-width: 600px) {

    .loader {
        width: 70vw;
        height: 70vw;
    }

    #menu {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    #menu li {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        text-align: center;
    }
    #navigation .social {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .textblock p {
        line-height: 140%;
        font-size: 1.2em;
    }

    footer p, footer img {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: auto;
        display: block;
    }
    footer img {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}