#dataviz {
    width: 100%;
    display: inline-block;
}

#mainplot,
.subplot {
    width: 90%;
    margin: 20px auto;
}

#mainplot {
    height: 600px;
}

.subplot {
    height: 300px;
}

.yaxis-small, .xaxis-small {
    font-size: 10px;
}

.yaxis, .xaxis {
    font-size: 15px;
}

.axislabel, .axislabel-large {
    fill: #666;
}
.axislabel-large {
    font-size: 20px;
}
.axislabel {
    font-size: 15px;
}

.hoverline {
    stroke-width: 3px;
}

.focusplot {
    background-color: #999999;
}

/* Style the lines by removing the fill and applying a stroke */
.dataline {
    fill: none;
    stroke-width: 2px;
}

.selectorline {
    fill: none;
    stroke-width: 2px;
    stroke-opacity: 0.5;
}

.zoom {
    cursor: move;
}

.overlay {
    fill: none;
    pointer-events: all;
}

div.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 7px;
    font: 12px sans-serif;
    color: #333;
    background: #FFF;
    border: 1px solid #999;
    border-radius: 8px;
    pointer-events: none;
    top: 0;
    left: 0;
}

.tooltip .ngram  {
    font-weight: bold;
}
