html,
body,
p,
li,
h1,
h2,
h3,
h4 {
    font-family: "Helvetica", sans-serif;
    color: #999;
}

body {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    padding-inline-start: 0 !important;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;
}

header {
    width: 100%;
}

#logo {
    width: 600px;
    max-width:100%;
    display: block;
    transition: width 0.5s;
    margin-left: auto;
    margin-right: auto;
}

main {
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0 auto;
}

footer {
    border-top: 2px solid lightgrey;
    width: 80%;
    padding: 20px 10%;
}

footer section {
    width: auto;
    margin: 0 auto;
}

footer p {
    display: inline-block;
    float: left;
    padding: 5px;
}

footer img {
    height: 30px;
    width: auto;
    max-width: 100%;
    float: left;
    display: inline-block;
    padding: 10px 20px;
    transition: width 0.5s;
}

@media screen and (max-width: 600px) {
    header img {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        /*max-width: 400px;*/
    }


    footer img {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}