#ngramContainer {
    width: 100%;
}

#ngramList {
    display: inline-block;
    float: left;
    padding: 5px;
    padding-inline-start: 0 !important;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;
}

#ngramList li {
    padding: 5px 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 3px;
    display: inline-block;
    border: 2px solid;
    font-size: 25px;
    border-radius: 2px;
}

#ngramList .nitem:hover {
    background-color: #FAC1BE !important;
    border: 2px dashed #EF3D25 !important;
    text-decoration: line-through !important;
    color: #EF3D25 !important;
    cursor: pointer !important;
}

#clearall, #download {
    border: 2px solid;
    cursor: pointer;
    font-size: 0.8em !important;
    font-weight: bold;
}

.mgmt {
    background-color: lightgray;
    color: #666;
    border-color: lightgray !important;
}

.mgmt a {
    color: #666;
}

#clearall:hover {
    background-color: lightcoral;
    border-color: lightcoral !important;
    color: darkred;
}

#download:hover {
    background-color: #666;
    border-color: #666 !important;
}

#download:hover a {
    color: #FFF;
}

.controls {
    width: 90%;
    margin: 20px auto;
}

.controls ul {
    display: block;
    width: 100%;
}

.controls li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    float: left;
    font-size: 20px;
}

.controls li input {
    margin: 5px;
}

#queryForm input {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 10px;
    font-size: 20px;
    display: inline-block;
    transition: width 0.5s;
    margin: 5px;
}

#queryForm input[type=text] {
    background-color: lightgray;
    width: 70%;
    float: left;
}

#queryForm input[type=submit] {
    background-color: #666;
    color: #fff;
    cursor: pointer;
    width: 25%;
    min-width: auto;
    float: right;
    font-weight: bold;
    font-family: "Helvetica", sans-serif;
}

#filterForm {
    height: auto;
    width: 100%;
    display: inline-block;
    padding: 10px 0;
}

#filterForm p,
h4,
ul,
li {
    color: darkgrey;
}

#filterForm ul {
    margin: 0;
}

#filterForm h4 {
    padding: 2px 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

#filterForm section {
    width: auto;
    max-width: 100%;
    height: 100%;
    display: inline-block;
    float: left;
    border-radius: 10px;
    margin: 2px;
    padding: 10px;
    transition: width 0.5s;
}

#filterForm input[type=submit] {
    height: 100%;
    color: #FFF;
    font-size: 1.2em;
    width: auto;
    padding: 20px;
    float: left;
}

@media screen and (max-width: 1000px) {
    #queryForm input[type=text],
    #queryForm input[type=submit] {
        margin: 10px auto;
    }

    #queryForm input[type=text],
    #queryForm input[type=submit],
    #filterForm section {
        width: 90%;
        float: none;
        box-sizing: unset;
    }
    #filterForm section {
        margin: 0px auto;
    }


    .teaser {
        padding-top: 0;
        padding-bottom: 0;
    }
}

#langFilter {
    display: none;
}

@media (max-width: 1000px) {
    #queryForm input, .controls li {
         font-size: 15px;
    }
    #ngramList li {
        height: 30px;
        font-size: 20px;
    }
}