body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 200vh;
}

.footer {
  height: 40px;
  padding: 10px;
}

main {
  padding: 0 40px;
  margin: 0 auto;
}

.row {
  width: 100%;
  border: 1px solid red;
}

section {
  display:table;
  height: auto;
  min-height: 400px;
}

.options {
  width: 30%;
  float: left;
  border: 1px solid purple;
  margin: 10px;
}

.feature {
  width: 60%;
  float: right;
  border: 1px solid green;
  margin: 10px;
}

.details {
  width: 100%;
}

.optionContainer {
 padding-bottom: 10px;
}

.optionContainer p {
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.about {
  padding: 40px;
}

.textblock {
  width: 90%;
  margin: 0 auto;
  padding: 0 5% 80px 5%;
}

.teaser {
  padding-top: 10px;
  padding-bottom: 10px;
}
.teaser p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.textblock p {
  line-height: 160%;
  font-size: 1.4em;
  /*margin-block-start: 0;
  margin-block-end: 0;*/
}

.textblock h1,h2,h3 {
  font-family: "Helvetica", sans-serif;
  margin-top: 80px;
}

.textblock h1 {
  font-size: 2.4em;
}
.textblock h2 {
  font-size: 2.0em;
}
.textblock h4 {
  font-weight: bold;
}
.textblock a {
  color: #0681A2;
  text-decoration: none;
}
.textblock a:hover {
  text-decoration: underline;
}
.about img {
  width: auto;
  height: auto;
  max-width: 600px;
  display: inline;
  float: left;
  padding: 0 20px 20px 0;
}

.center {
  text-align: center;
  padding: 20px 10%;
}

.bug {
  font-size: 12px;
  padding: 5px 0;
}

.citation li {
  list-style: circle;
  margin-left: 20px;
}

.citation h1, .citation h2, .citation h3{
  font-size: 0.8em;
  font-weight: normal;
  color: #666;
  font-family: "Helvetica", sans-serif;
  padding-bottom: 0;
  margin-top: 5px;
  margin-bottom: 0;
}

.citation h1 {
  padding-top: 20px;
  font-weight: bold;
}

.citation h2 {
  font-style: italic;
}
.citation h3 {
  line-height: 140%;
}

